* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #ccc
}

.menu__item {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  list-style: none;
  padding: 1rem;
}

.menu__item:nth-child(odd):hover {
  background: #fff;
}

.menu__item:nth-child(even):hover {
  background: #fc5;
}

.menu__item a {
  text-decoration: none;
}

.img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: right;
  -webkit-shape-outside: circle(50%);
          shape-outside: circle(50%)
}

.img-wrap>img {
  width: 20em;
  height: 20em;
  margin: 1em 2em 1em 0;
  border-radius: 25em;
}

.img-wrap:after {
  content: '';
  display: block;
  clear: both;
}

.info {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content {
  background: lawngreen;
}