* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu {
  display: flex;
  background: #ccc;
  &__item {
    flex-direction: row;
    text-align: center;
    flex: 1 1 auto;
    list-style: none;
    padding: 1rem;
    &:nth-child(odd):hover {
      background: #fff;
    }
    &:nth-child(even):hover {
      background: #fc5;
    }
    & a {
      text-decoration: none;
    }
  }
}

.img-wrap {
  display: flex;
  float: right;
  shape-outside: circle(50%);
  &>img {
    width: 20em;
    height: 20em;
    margin: 1em 2em 1em 0;
    border-radius: 25em;
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.info {
  flex-grow: 1;
  flex-basis: 40%;
  flex-wrap: wrap;
}

.content {
  background: lawngreen;
}