* {
  box-sizing: border-box;
}

.menu {
  display: block;
  background: #ccc;
  text-align: center
}

.menu__item {
  list-style: none;
  padding: 1rem;
  float: left;
  border: 2px solid;
  border-radius: 1rem;
  background: aquamarine;
}

.menu__item:nth-child(odd):hover {
  background: #fff;
}

.menu__item a {
  text-decoration: none;
}

.menu:after {
  content: '';
  display: block;
  clear: both;
}