* {
  box-sizing: border-box;
}

.menu {
  display: block;
  background: #ccc;
  text-align: center;
  &__item {
    list-style: none;
    padding: 1rem;
    float: left;
    border: 2px solid;
    border-radius: 1rem;
    background: aquamarine;
    &:nth-child(odd):hover {
      background: #fff;
    }
    &:nth-child(even):hover {
      background: #000;
    }
    & a {
      text-decoration: none;
    }
  }
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.img-wrap {
  &>img {
    width: 800px;
    height: 500px;
  }
  float:left;
}

.content {
  background: lawngreen;
  // display: block;
}