* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

.container {
  //   width: 1170px;
  width: 73rem;
  padding: 0 1rem;
  margin: 0 auto;
  font-size: 0;
  // background: red;
  //   font-size: 0;
}

.header {
  height: 85px;
}

.logo {
  display: inline-block;
  margin-right: 120px;
  margin-top: 21px
}

.logo__link {
  display: block;
  width: 210px;
  height: 36px;
  background: url("../images/logo.png") no-repeat center;
  background-size: contain;
  //: 125px;
}

.header {
  background: #fff;
  // margin-top: 37px
}

.header__item {
  width: 33%;
  border: 1px solid;
  font-size: 1rem;
  display: inline-block;
}

.header__logo {
  padding: 0 1rem 0 1rem;
}

.nav {
  display: inline-block;
  vertical-align: super;
  padding-right: 74px;
  // width: 520px;
  // width: 32.5rem
}

.nav__item {
  display: inline-block;
  vertical-align: super;
  height: 0.688rem;
  opacity: 0.67;
  color: #666;
  //: OpenSans sans-serif;
  font-size: 0.813rem;
  font-size: 13px;
  font-weight: 600;
  margin-right: 22px;
}

.nav :last-child {
  margin-right: 0;
}

.btn {
  text-decoration: none;
  text-align: center;
  border: none
}

.btn.btn-green {
  opacity: 0.812;
  display: inline-block;
  width: 100px;
  height: 37px;
  z-index: 180;
  border-radius: 4rem;
  vertical-align: super;
  line-height: 2rem;
  color: white;
  background-color: #add136;
}