* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1;
}

.container {
  width: 1170px;
  // width: 73rem;
  padding: 0 1rem;
  margin: 0 auto;
  // background: red;
  //   font-size: 0;
}

.header {
  height: 85px;
}

.logo {
  display: inline-block;
  vertical-align: top;
  margin-right: 125px;
  // margin-top: 21px;
  &__link {
    display: block;
    width: 210px;
    height: 36px;
    background: url("../images/logo.png") no-repeat center;
    background-size: contain;
    // margin-right: 125px;
  }
}

.header {
  background: #fff;
}

.nav {
  display: inline-block;
  vertical-align: middle;
  &__item {
    display: inline-block;
    // vertical-align: super; 
    opacity: 0.67;
    color: #666;
    font-family: Open Sans serif;
    font-size: 0.813rem;
    font-weight: 600;
    padding-right: 16px;
    padding: 1rem;
    & a {
      text-decoration: none;
    }
    &:hover {
      background: #ccc;
    }
  }
  &>:last-child {
    margin-right: 74px;
  }
}

.btn {
  text-decoration: none;
  text-align: center;
  border: none;
  &.btn-green {
    opacity: 0.812;
    display: inline-block;
    padding:1rem;
    // width: 100px;
    // height: 37px;
    // z-index: 180;
    border-radius: 4rem;
    vertical-align: middle;
    line-height: 2.2rem;
    color: white;
    background-color: #add136;
  }
}