.menu li {
  display: inline-block;
  vertical-align: top;
}

.logo {
  float: left;
  text-decoration: none;
  &__img {
    width: 104px;
    display: block;
    height: 36px;
    margin: 10px;
    background-image: url('../img/logo.png')
  }
  &__text {
    color: #000;
  }
}

.wrap__right {
  float: right;
}

.cart {
  background: url('../img/cart.png')
}