@import "./global.next.css";
.header {
}
.header__top{
    padding: 0.5rem 0;
    background: #f2f2f2
}
.header__top-menu{
}
.header__top-menu-item{
    padding-right: 3rem
}
.header__top-menu-item:last-child{
    padding-right: 0
}
.header__top-menu-item>a{
    text-decoration: none;
    color: #000
}
.header__top-menu-item>a::after{
    content: " ";
    display: block;
    height: 3.2px;
    height: 0.2rem;
    background: transparent;
    -webkit-transition: background .2s linear;
    transition: background .2s linear
}
.header__top-menu-item>a:hover::after{
    background: #b5b5b5;
    -webkit-transition: background .2s linear;
    transition: background .2s linear
}
.header__middle{
    padding: 1rem 0;
    background: #fff;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row
}
.header__middle img{
}
.header__bottom{
    background-color: #0090ff
}
.header__bottom-menu{
}
.header__bottom-menu-item{
    width: 13.9%;
    text-align: center;
    border-right: 1px solid #abdaff;
    padding: 1.5rem 0
}
.header__bottom-menu-item>a{
    text-decoration: none;
    color: #fff;
    font-size: 14px
}
.header__bottom-menu-item:last-child{
    border-right: none;
    text-align: right
}