<template id="template">
  <div id="container">
    <content select="h1"></content>
  </div>
  <a href="/">Home</a>
</template>
<script>
  // This element will be registered to index.html
  // Because `document` here means the one in index.html
let XComponent = document.registerElement('shadow-header', {
    prototype: Object.create(HTMLElement.prototype, {
      createdCallback: {
        value: function() {
          let root = this.createShadowRoot();
          // var template = document.querySelector('#template');
          let clone = document.importNode(template, true);
          root.appendChild(clone);
        }
      }
    })
  });
</script>