<template class="template">
  <div id="container">
    <content select="h1"></content>
  </div>
  <a href="/">Home</a>
</template>
<script>
  // This element will be registered to index.html
  // Because `document` here means the one in index.html
let XComponent = document.registerElement('shadow-header', {
    prototype: Object.create(HTMLElement.prototype, {
      createdCallback: {
        value: function() {
          var root = this.createShadowRoot();
          var template = document.querySelector('template');
          console.log(template);
          console.log(document);
          var clone = document.importNode(template.content, true);
          root.appendChild(clone);
        }
      }
    })
  });
</script>