* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.header__menu > li {
  display: inline-block;
  text-align: center;
  width: 33.333%;
  font-size: 1rem;
  background: green;
  border-top: 1px solid red;
  border-bottom: 1px solid red;
  border-right: 1px solid blue;
}

.header__menu {
  display: block;
  font-size: 0;
  color: yellow;
}


/*.menu__item {
  display: inline-block;
  
}*/